.container__card__info {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 7px;
    box-shadow: 0 5px 8px;
    backdrop-filter: blur(10px);
}

.container__card__info__list {
    height: auto;
    margin-top: -3rem;
}

.container__card__info__list h4 {
    padding: 8px;
}


.container__card__owner li span:first-child {
    font-weight: bold;  
}

.container__card__pet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -2rem;
}

.container__card__pet li span:first-child {
    font-weight: bold;
}

.container__card__info__btn {
    display: flex;
    gap: 1rem;
    margin: auto;
}



