*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  
}

.container__total {
 
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}